@font-face {
  font-family: SF-Pro-Text-Heavy;
  src: url(Fonts/h1.otf);
}

h1 {
  letter-spacing: -0.05em;
  font-family: SF-Pro-Text-Heavy;
  padding-left: 2rem;
  font-size: 3.5rem;
  padding-top: 1rem;
  text-align: left;
  color: black;
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }
}

@font-face {
  font-family: SF-Pro-Text-Semibold;
  src: url(Fonts/h2.otf);
}

a {
  letter-spacing: -0.05em;
  font-family: SF-Pro-Text-Semibold;
  font-size: 1rem;
}

@media only screen and (max-width: 350px) {
  a {
    font-size: 0.8rem;
  }
}

@font-face {
  font-family: SF-Pro-Text-Light;
  src: url(Fonts/h3.otf);
}

b {
  word-wrap: break-word;
  letter-spacing: -0.05em;
  font-family: SF-Pro-Text-Light;
  font-size: 1rem;
}

@media only screen and (max-width: 350px) {
  b {
    font-size: 0.8rem;
  }
}

span {
  padding-right: 25%;
}

.image, span {
        display: table-cell;
        vertical-align: middle;
}

.image {
    width: 50px
}

.icon {
  padding-left: 2rem;
  padding-right: 2rem;
  vertical-align: middle;
}

@media only screen and (max-width: 350px) {
  .icon {
    padding-left: 1.5rem;
  }
}

.button {
  font-family: SF-Pro-Text-Light;
  background-color: #157efb;
  border-radius: 10px;
  color: white;
  padding: 12px 100px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-bottom: 100px;
}
